$grey500: #B4B4B4;
$grey: #EEEEEE;
$white: #FFFEFB;
$black: #3F3F3F;
$blue: #29B0D9;
$green: #64935f;
$light-green: #7BAE73;
$violet: #6c5f93;
$pink: #FF8484;
$black500: #7C838D;
$black800: #1D2127;
$black300: #B0B3B9;
$black700: #353C47;
$black100: #E9EDF2;
$black0: #F7F8FA;
